@reference 'tailwindcss';
@reference './main.css';

.box {
  @apply
    bg-white
    rounded-lg
    shadow-lg
    p-8
    border
    border-gray-200;
}

@media (prefers-color-scheme: dark) {
  .box {
    @apply
      bg-gray-800;
  }
}
