@reference 'tailwindcss';
@reference './main.css';

.error-box {
  @apply
    text-danger
    bg-red-50
    border
    border-red-200
    rounded-lg
    p-4;
}

@media (prefers-color-scheme: dark) {
  .error-box {
    @apply
      bg-red-900/20
      border-red-900;
  }
}
