@reference 'tailwindcss';
@reference './main.css';

.input-field {
  @apply
    px-4
    py-2
    border
    border-gray-300
    rounded-lg
    focus:ring-2
    focus:ring-primary
    focus:border-transparent
    outline-none
    transition-all;
}
