@reference "tailwindcss";
@reference "./main.css";

.input-field {
  @apply border border-gray-200 focus:ring-2 focus:ring-primary focus:border-transparent outline-none transition-all;

  &:not(.input-field-sm) {
    @apply px-4 py-2 rounded-lg
  }

  &.input-field-sm {
    @apply px-3 py-1.5 rounded-md text-sm
  }
}

@media (prefers-color-scheme: dark) {
  .input-field {
    @apply bg-background text-gray-100 border-gray-700;
  }
}
