@import "tailwindcss";

@theme {
  --font-sans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading: var(--heading);

  --color-surface: var(--surface);
  --color-surface-fg: var(--surface-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-border: var(--border);
  --color-error: var(--error);
  --color-success: var(--success);

  --color-primary-hover: var(--primary-hover);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading);
  }

  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

@layer utilities {
  .thin-scrollbar {
    scrollbar-width: thin;
  }
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme("color-border");
    border-radius: 4px;
  }
}

:root {
  /* Light theme colours */
  --primary: #cc0000;
  --primary-fg: #ffffff;
  --primary-hover: #a30000;

  --link: #cc0000;
  --link-hover: #a30000;

  --background: #ffffff;
  --foreground: #1d1d1d;
  --heading: #0d0000;

  --surface: #ffffff;
  --surface-fg: #151414;

  --accent: #0d0000;
  --accent-fg: #ffffff;

  --muted: #f5f5f5;
  --muted-fg: #1d1d1d;

  --border: #e5e5e5;
  --error: #cc0000;
  --success: var(--color-green-500);

  /* Dark theme colours */
  @media (prefers-color-scheme: dark) {
    --primary: #ff5252;
    --primary-fg: #ffffff;

    --primary-hover: #ff7070;

    --link: #ff5252;
    --link-hover: #ff7070;

    --background: #0c0c0c;
    --foreground: #d4d4d4;
    --heading: #ffffff;

    --surface: #151414;
    --surface-fg: #ffffff;

    --accent: #0d0000;
    --accent-fg: #ffffff;

    --muted: #1d1d1d;
    --muted-fg: #a3a3a3;

    --border: #1d1d1d;
    --error: #ff5252;
    --success: var(--color-green-900);
  }
}

/* The colour codes are generated based on the colour in logo image. */
