@import 'tailwindcss';

@theme {
  --font-sans: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

  /* Primary brand colors */
  --color-primary: #cc0000;
  --color-primary-hover: #830a28;
  --color-primary-light: #d11241;
}
