@reference "tailwindcss";
@reference "./main.css";

.success-box {
  @apply text-success bg-green-50 border border-green-200 rounded-lg p-4;
}

@media (prefers-color-scheme: dark) {
  .success-box {
    @apply bg-green-900/20 border-green-900;
  }
}
